<p> <%= @player1 %> vs. <%= @player2 %> </p>
<p> <%= @player1 %>'s hit points: 10</p>
<p> <%= @player2 %>'s hit points: 10</p>


<form action="/attack" method="get">
    <input type="submit" value="Hit <%= @player2 %>" id="hitPlayer2">
</form>
